<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <ul>
      <li><%= error %></li>
    </ul>
  <% end %>
<% end %>

<%= form_for @post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
 <div>
    <%= f.label :blogger %>
    <%= f.collection_select :blogger, @bloggers, :id, :name %>
  </div>
   <div>
    <%= f.label :destination %>
    <%= f.collection_select :destination, @destinations, :id, :name %>
  </div>
   <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <%= f.submit %>
<% end %>